#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.grid-container {
  display: grid;
  grid-template: repeat(4, 1fr) / repeat(4, 1fr);
  gap: 5px;
  margin-bottom: 1.5rem;
}

.title {
  margin-bottom: 5rem;  
}

.description {
  margin-bottom: 1.5rem;
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mistakes-remaining {
  display:flex;
  align-items: center;
  justify-content: center;
  font-weight: 500;
  font-family: inherit;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.gray-circle {
  height: 15px;
  width: 15px;
  background-color: gray;
  border-radius: 50%;
}

.buttons {
  display: flex;
  gap: 1rem;
}

.buttons button {
  border-radius: 32px;
  border: 1px solid;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
}

.buttons button:hover {
  border-color: #646cff;
}






