.correct-group {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 580px;
    height: 85px;
    border-radius: 10px;
    margin-bottom: 5px;
    grid-column: span 4;
}

.group-text {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.group-swimmers {
  font-size: 0.8rem;
  font-family: inherit;
  font-weight: 400;
  color: rgb(50, 50, 50);
}

.group-title {
  font-size: 1.2rem;
  font-weight: 500;
  font-family: inherit;
  color:black;
}


@media (max-width: 700px) {
  .correct-group {
    width: 420px;
    height: 100px;
  }
}