.tile {
    width: 140px;
    height: 85px;
    background-color: #d0d0d1;
    border-radius: 10px;
    border: black solid 1px;
    

    display: flex;
    justify-content: center;
    align-items: center;
}

.tile:hover {
    cursor: pointer;
}

.swimmer-name {
    font-size: 0.8em;
    font-weight: 500;
    font-family: inherit;
    color:black;
}

@media (max-width: 700px) {
  .tile {
    width: 100px;
    height: 120px;
  }
}