.tile {
  width: 100%;
  height: 100px;
  background-color: #d0d0d1;
  border-radius: 10px;
  border: black solid 1px;
  

  display: flex;
  flex-direction: column-reverse;
  justify-content: center;
  align-items: center;
  transition: background-color 0.2s ease, transform 0.15s ease;
}

.tile.selected {
  background-color: #81dffe;
  transform: scale(0.95);
}

.tile:hover {
  cursor: pointer;
}

.tile.disabled:hover {
  cursor: default;
}

.swimmer-name {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: inherit;
  color:black;
  padding: 2px;
}

.swimmer-img {
  width: 40%;
}

@media (max-width: 700px) {
  .swimmer-name {
    font-size: 0.7rem;
  }
  .swimmer-img {
    width: 50%;
  }
}